/* CSS files add styling rules to your content */
@import "heroku.css";
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  /* color: #373fff; */
  color: darkorange;
}

img.me { 
  height: 200px; 
  width: 300px;
}

img.daily { 
  height: 300px; 
  width: 400px;
}